p{
    color: rgb(78, 24, 129);
    font-size: 5vh;
    background-color: rgb(255, 255, 220);
    font-family: myfont;
}

#hahn{
    width: 10vh;
    border: 2px solid black;
}

#container{
    display:flex;
    justify-content: left;
}

@font-face{
    font-family: myfont;
    src: url(./fonts/Ole-Regular.ttf);
}

.button{
    width: 20vb;
}